#menu{
    background-color: cornflowerblue;
    padding: 4px;
    align-self: center;
    align-content: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: white;
}

#content{
    width: 800px;
    padding: 4px;
    background-color: ghostwhite;
    align-self: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li{
    display: inline;
    padding-left: 4px;
    padding-right: 4px;
}

a:link, a:visited {
    display: inline;
    color: black;
    background-color: cornflowerblue;
    width: 20%;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: royalblue;
    color: aliceblue;

}

#expensetable {
    width: auto;
    border-collapse: collapse;
}

#expensetable td, #expensetable th {
    border: 1px solid black;
    padding: 3px 7px 2px 7px;
}

#expensetable th {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: royalblue;
    color: white;
}

#expensetable tr.alt td {
    color: white;
    background-color: cornflowerblue;
}