<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
    <title>Expenses-Manager</title>
</head>
<body>
<h:form>
    <h3>Add new Category:</h3>
    <hr/>
    <table>
        <tr>
            <td>Category Name :</td>
            <td><h:inputText id="categoryInput" size="25" value="#{expenseBean.category.category}">
                <f:validateLength minimum="1" maximum="25"/>
                <f:validator validatorId="com.warriorsofthenorth.web.DuplicateCategoryValidator"/>
                </h:inputText></td>
            <td><h:message for="categoryInput" style="color:red"/></td>
        </tr>
        <tr>
            <td> </td>
            <td><h:commandButton value="Add Category"
                                 action="#{expenseBean.saveCategory}" /></td>
        </tr>
    </table>
</h:form>

</body>
</html>