<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
    <title>Expenses-Manager</title>
</head>
<body>
<h:form>
    <h3>Add new Expense:</h3>
    <hr/>
    <table>
        <tr>
            <td>Description :</td>
            <td><h:inputText id="descriptionInput" size="50" value="#{expenseBean.description}">
                <f:validateLength minimum="1" maximum="50"/>
            </h:inputText></td>
            <td><h:message for="descriptionInput" style="color:red"/></td>
        </tr>
        <tr>
            <td>Description :</td>
            <td><h:selectOneMenu id="categoryDropDown" value="#{expenseBean.category.category}" required="true"
                                 requiredMessage="Please select a Category for Deletion.">
                <f:selectItems value="#{expenseBean.categories}" />
            </h:selectOneMenu></td>
            <td><h:message for="categoryDropDown" style="color:red"/></td>
        </tr>
        <tr>
            <td>Amount(Euro) :</td>
            <td><h:inputText id="amountInput" size="25" value="#{expenseBean.amount}">
                <f:convertNumber minFractionDigits="2"/>
            </h:inputText></td>
            <td><h:message for="amountInput" style="color:red"/></td>
        </tr>
        <tr>
            <td> </td>
            <td><h:commandButton value="Add Expense"
                                 action="#{expenseBean.saveExpense}" /></td>
        </tr>
    </table>
</h:form>
</body>
</html>