<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
    <title>Expenses-Manager</title>
</head>
<body>
<h1>Delete Category: </h1>
<h:form>
    <h:selectOneMenu id="categoryList" value="#{expenseBean.category.category}" required="true"
                     requiredMessage="Please select a Category for Deletion.">
        <f:selectItems value="#{expenseBean.categories}" />
    </h:selectOneMenu>
    <h:message for="categoryList" style="color:red"/>

    <h:commandButton value="Delete Category" action="#{expenseBean.deleteCategory}" />
</h:form>



</body>
</html>