<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/jsp/jstl/core ">
<head>
    <title>Expenses-Manager</title>
</head>
<body>
<div style="align-content: center">
    <p>
        <h:commandButton action="#{navigationController.goToAddExpense}"
                         value="Add new Expense"/>
    </p>
    <p>
        <h:commandButton action="#{navigationController.goToListExpenses}"
                         value="List all Expenses"/>
    </p>
    <p>
        <h:commandButton action="#{navigationController.goToAddCategory}"
                         value="Add new Category"/>
    </p>
    <p>
        <h:commandButton action="#{navigationController.goToDeleteCategory}"
                         value="Delete Category"/>
    </p>
</div>
</body>
</html>
