<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
    <title>Expenses-Manager</title>
</head>
<body>
<h2 style="align-self: center">All Expenses:</h2>
<h:dataTable value="#{expenseBean.expenses}" var="c">
    <h:column><f:facet name="header">Description</f:facet>
        #{c.description}
    </h:column>
    <h:column><f:facet name="header">Category</f:facet>
        #{c.category}
    </h:column>
    <h:column><f:facet name="header">Amount</f:facet>
        #{c.amount}
    </h:column>
    <h:column><f:facet name="header">Date</f:facet>
        #{c.date}
    </h:column>
</h:dataTable>
<p><h:commandButton action="#{navigationController.goToMainMenu}"
                    value="Back to Main Menu" /></p>
</body>
</html>