<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
    <title>Expenses-Manager</title>
    <link rel="stylesheet" type="text/css" href="css/expensestyle.css"/>

</head>
<body>
<div id="menu">
    <ul>
        <li><a href="addexpense.xhtml">New Expense</a></li>
        <li><a href="listexpenses.xhtml">List Expenses</a></li>
        <li><a href="addcategory.xhtml">New Category</a></li>
        <li><a href="deletecategory.xhtml">Delete Category</a></li>
        <li><a href="viewcategories.xhtml">View Categories</a></li>
    </ul>
</div>
<div id="content">
<h:form>
    <h3>Add new Category:</h3>
    <hr/>
    <table>
        <tr>
            <td>Category Name :</td>
            <td><h:inputText id="categoryInput" size="25" value="#{expenseBean.category}"
                             validator="#{duplicateCategoryValidator.validate}">
                <f:validateLength minimum="1" maximum="25"/>
                <f:validator binding="#{duplicateCategoryValidator}"/>
            </h:inputText></td>
            <td><h:message for="categoryInput" style="color:red"/></td>
        </tr>
        <tr>
            <td> </td>
            <td><h:commandButton value="Add Category"
                                 action="#{expenseBean.addCategory}" /></td>
        </tr>
    </table>
</h:form>
</div>
</body>
</html>