<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
    <link rel="stylesheet" type="text/css" href="css/expensestyle.css"/>
</h:head>
<h:body>
    <div id="menu">
    <ul>
        <li><a href="addexpense.xhtml">New Expense</a></li>
        <li><a href="listexpenses.xhtml">List Expenses</a></li>
        <li><a href="addcategory.xhtml">New Category</a></li>
        <li><a href="deletecategory.xhtml">Delete Category</a></li>
        <li><a href="viewcategories.xhtml">View Categories</a></li>

    </ul>
    </div>
<div id="content">
    <h3>Welcome to the Expense-Manager</h3>
    <hr/>
    My Expense-Manager is realized with the JSF Framework (2.0) and MySQL as<br/>
    data Storage. <p/>
    Code and Design by Florian Mitterbauer
</div>
    <p/>
</h:body>
</html>
